h1{
    margin:0;
    display: inline-block;
}
h4{
    margin:0;
    display: inline-block;
}
table{
    margin: auto;
}
#map-canvas {
    margin: auto;
    width: 80%;
    height: 400px;
    background-color: #CCC;
}

.block{
    display: block;
}
.disconnect{
    float:right;
}
.blockuser{
    margin:0 auto;
    display: flex;
    flex-direction:column;
}
    .linkuser{
        display:block;
        margin:auto;
        text-align: center;
    }
.canvas1,.canvas2{
    display: inline-block;
    width:49%;
    height:350px;
}
.canvas1title,.canvas2title{
    width:49%;
    height:50px;
    text-align: center;
}